body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2a2c33;
  color: #fafafa;
}

h1 {
  font-size: 32px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  margin: 26px 26px;
}

.toolBox {
  margin: 6px 6px;
}

.toolBox input {
  margin-right: 15px;
}
